@import 'commons';

:host{
	@extend %component;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 150px;

	color: $light-1;
	background-color: $dark-2;
	cursor: pointer;

	rs-icon{
		color: $accent-1;
	}

	h4{
		margin-top: nth($margins, 1);
		font-family: $font-family-title;
		font-weight: 200;
		font-size: 3rem;
		user-select: none;
	}
}
:host(.important){
	background-color: $accent-1;

	rs-icon{
		color: $light-1;
		opacity: 0.75;
	}
}