@import 'commons';

$picker-border-color: rgb(210, 210, 210);

:host{
	@extend %component;
	@include shadow(1);
	flex-direction: column;
	font-family: $font-family-title;
	width: 100%;
}

.picker-header{
	@include padding(2);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	height: 120px;
	box-sizing: border-box;
	position: relative;

	color: $light-1;
	background-color: $dark-2;
	border-bottom: 1px solid $picker-border-color;
	font-size: 4rem;

	::ng-deep rs-icon{
		font-size: 4rem;
		color: $light-3;
	}

	.close-icon{
		position: absolute;
		top: 50%;
		right: nth($margins,2);
		transform: translateY(-50%);
		cursor: pointer;
	}
}

.picker-content{
	background-color: $light-1;
	flex: 1;
}

.save{
	@include padding(2);
	background-color: $light-2;
	color: $dark-2;
	border: none;
	border-top: 1px solid $picker-border-color;
	font-family: $font-family-text;
	font-size: 3rem;

	&:hover{
		color: $light-1;
		background-color: $accent-1;
	}
}