@import 'commons';

$picker-border-color: rgb(210, 210, 210);

:host{
	@extend %component;
	@include shadow(1);
	flex-direction: column;
	font-family: $font-family-title;
}

.picker-header{
	@include padding(2);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	box-sizing: border-box;

	background-color: $light-2;
	border-bottom: 1px solid $picker-border-color;
	font-size: 4rem;

	::ng-deep rs-icon{
		font-size: 4rem;
		color: $dark-1;
	}
}

.picker-content{
	background-color: $light-1;
	flex: 1;
}

.save{
	@include padding(2);
	background-color: $dark-2;
	color: $light-1;
	border: none;
	border-top: 1px solid $picker-border-color;
	font-family: $font-family-text;

	&:hover{
		background-color: $accent-1;
	}
}