@import 'commons';

:host{
	@extend %component;
	@include shadow(2);
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $light-1;
}

.entries-count{
	width: 35px;
	height: 35px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $accent-1;

	font-size: 3rem;
	margin-left: nth($margins, 1);
}