@import 'commons';

$reservations-width: 400px;

:host{
	@extend %component;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

rs-header, rs-reservation-statusbar{
	height: $header-height;
}
rs-header, rs-reservation-sidebar{
	@include shadow(2);
	width: $reservations-width;
}
rs-reservation-statusbar, rs-table-overview{
	width: calc(100% - #{$reservations-width});
}
rs-reservation-sidebar, rs-table-overview{
	height: calc(100% - #{$header-height});
}
rs-table-overview{
	padding-right: $sidemenu-width;
}