@import 'commons';

:host{
	@extend %component;
	width: 500px;
}

mat-calendar{
	//TODO remove display none
	// display: none !important;
	background-color: $light-1;
	width: 100%;
	font-family: $font-family-text;
}

::ng-deep .mat-calendar-table-header th{
	font-size: 2rem;
}

::ng-deep .mat-calendar-body, ::ng-deep .mat-calendar-body-label, ::ng-deep.mat-calendar-period-button{
	font-size: 3rem;
}

::ng-deep .mat-calendar-body-cell{
	@include padding(1);
	font-family: $font-family-title;
}