@import 'commons';

:host{
	@extend %component;
}

.close-selection{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 100px;

	background-color: $accent-1;
	color: rgba(255,255,255,0.75);
	border-left: 1px solid darken($accent-1,10);
}

rs-timebox-entry.normal, .close-selection{
	cursor: pointer;
}