@import 'commons';

:host{
	@extend %component;
}

.close-selection{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 100px;

	background-color: $dark-2;
	color: $light-3;
}

rs-timebox-entry.normal, .close-selection{
	cursor: pointer;
}

.custom-time{
	display: flex;
	flex-direction: row;
	position: relative;
}

rs-time-picker{
	position: absolute;
	top: 100%;
	left: 0;
}