%component{
	display: flex;
	font-size: 2rem;
	box-sizing: border-box;
}

%icon-scale{
	transform: scale(1.1);
}

%filter-bright{
	filter: brightness(105%);
}

@mixin ahocus(){
	&:hover, &:focus, &:active{
		@content;
	}
}

@mixin hocus(){
	&:hover, &:focus{
		@content;
	}
}

@mixin margin($level: 1){
	margin: nth($margins, $level);
}

@mixin padding($level: 1){
	padding: nth($paddings, $level);
}

@mixin transition(){
	transition: all 200ms linear;
}

@mixin shadow($level: 1){
	box-shadow: unquote(nth($shadows, $level));
}