@import 'commons';

:host{
	@extend %component;
	@include padding(2);
	flex-direction: column;
	background-color: $background;
}

.hour-wrapper, .table-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.table-wrapper{
	flex-wrap: wrap;
	align-content: flex-start;
}

rs-table{
	@include margin(2);
}

//Hour wrapper
.hour-wrapper{
	padding: nth($paddings,2) nth($paddings, 3);
}