@import 'commons';
@import '../shared/picker/picker.component';

:host{
	@extend %component;
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.pickers-container{
	display: flex;
	flex-direction: row;
	width: 100%;
}

rs-date-picker, rs-time-picker{
	width: 50%;
}

::ng-deep rs-icon.close-icon{
	font-size: 4rem;
	color: $light-2;
}
.close-icon{
	position: absolute;
	top: nth($margins,1);
	right: nth($margins,1);
	cursor: pointer;
}