@import 'commons';

:host{
	@extend %component;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-shrink: 0;

	width: 100%;
	height: auto;
	min-height: $header-height;
}

.accordion-title{
	@include padding(2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
	box-sizing: border-box;

	width: 100%;
	height: $header-height;

	background-color: $dark-2;
	color: $light-1;
	user-select: none;
	cursor: pointer;

	font-size: 3rem;
	font-family: $font-family-title;
	font-weight: 400;

	.accordion-title-content{
		flex: 1;
	}
}

.accordion-content{
	width: 100%;
	min-height: $header-height;
	overflow-x: hidden;
	overflow-y: auto;
}

.is-rotated{
	transform: rotate(90deg);
}