@import 'commons';

:host{
	@extend %component;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 210px;
	height: 100px;

	background-color: $dark-2;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 25px;
		height: 5px;
		background-color: $accent-1;
	}

	rs-icon{
		color: $light-2;
		margin-right: nth($margins, 1);
	}

}
:host(.selected){
	background-color: $accent-1;

	rs-icon, .time-wrapper h5{
		color: rgba(255,255,255,0.75);
	}
}

.time-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h4, h5{
		font-weight: 400;
		user-select: none;
	}

	h4{
		font-family: $font-family-title;
		font-size: 5rem;
		color: $light-1;
	}
	h5{
		font-size: 2rem;
		color: $light-2;
	}
}