/* You can add global styles to this file, and also import other style files */
@import 'commons';
@import 'singleton';

html{
	font-size: $font-base-size;
	font-family: $font-family-text;
}
body{
	font-size: 2rem;
}

.cdk-overlay-container{
	position: fixed;
    top: 0;
    width: 100%;
    display: flex;
	justify-content: flex-end;
	pointer-events: none;
	z-index: 1000;
}