<rs-picker (save)="onSave()">
  <section picker-header>
    <rs-icon name="clock-o"></rs-icon>
    {{formattedTime}}
  </section>
  <section picker-content>
    <h5>ORA</h5>
    <section class="time-picker">
      <ng-container *ngFor="let hour of availableHours">
        <figure [class.selected]="isHourSelected(hour)"
                (click)="selectHour(hour)"
                class='entry'>{{hour}}</figure>
      </ng-container>
    </section>
    <h5>MINUT</h5>
    <section class="time-picker">
      <ng-container *ngFor="let minute of availableMinutes">
        <figure [class.selected]="isMinuteSelected(minute)"
                (click)="selectMinute(minute)"
                class='entry'>{{minute}}</figure>
      </ng-container>
    </section>
  </section>
</rs-picker>