@import 'commons';

:host{
	@extend %component;
}

.hour-picker, .minute-picker{
	display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-auto-rows: 60px;
	grid-gap: 1px;

	.entry{
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 3rem;
		cursor: pointer;
		background-color: $light-2;
		color: $dark-2;
		user-select: none;

		@include hocus{
			background-color: $dark-2;
			color: $light-1;
		}
		&:active{
			background-color: $accent-1;
			color: $light-1;
		}
	}
}