@import 'commons';

:host{
	@extend %component;
	padding: 0 nth($paddings, 3);

	width: 100%;
	height: $header-height;
	justify-content: center;
	align-items: center;
	background-color: $light-1;
}

rs-logo{
	height: 30px;
}